
.montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  
  .open-sans {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .gray {
    color: lightgray;
  }

  .dark-gray {
    color: darkgray;
  }

  .dark-slate {
    color: darkslategray;
  }

  .flex {
    display: flex;
  }
  .flex-1 {
    flex:1;
  }

  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(131, 131, 131, 0), rgba(131, 131, 131, 0.75), rgba(131, 131, 131, 0));
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.blue-icon {
  color: blue;
}