@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: #D4E3EE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #app {
    min-width: 400px;
    max-width: 60%;
    min-height: 600px;
    background-color: white;
  }

  nav{
    background-image: url("./blue-mountain.jpg");
    background-size: cover;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  #leftHeader{
    padding: 20px;

    max-width: 60%;
  }

  #todoHeader{
    color: white;
    font-size: 1.6rem;

    & h1 {
      margin: 0 0 20px 0;
    }
  }

  #currentDate {
    color: lightgray;
    font-size: 0.85rem;
  }

  #rightHeader {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px;

    /* css glass effect */
    background: rgba(73, 56, 137, 0.26);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

    #todoTaskStatuses {
      display: flex;

      #completedTasks, #incompleteTasks {
        text-align: right;
      }

      #completedTasks .number, #incompleteTasks .number {
        font-size: 1.6rem;
        color: white;
        font-weight: 500;
      }

      #completedTasks {
        padding-right: 20px;
      }
    }

    #completionPercentage p{
      text-align: center;
    }
  }

  