#addTaskDialog,
#addTodoDialog {
    background: none;
    border: 0;
}

#addTodoDialog {
    width: 100%;
    height: 100%;
}

#addTaskDialog > div,
#addTodoDialog > div {
    display: flex;
    flex-direction: column;
    min-width: 360px;
    max-width: 60%;
    max-height: 500px;
    background-color: #46539e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    padding-top: 0px;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    button {
        background: none;
        border: none;
    }

    span {
        color: white;
        font-size: 36px;
    }

    h2 {
        margin: 0;
        color: white;
        font-size: 1.2rem;
        text-align: center;
        margin-left: -36px;
    }
}

.dialog-body {
    padding: 0 15px 15px 15px;

    .task-icon {
        display: flex;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }

    .task-icon:hover .blue-icon {
        opacity: 0.5;
    }

    .task-icon .blue-icon {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        background: white;
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        transition: opacity 0.3s ease;
    }

    .task-icon .change-icon {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        background: white;
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: opacity 0.3s ease;
    }

    .task-icon:hover .change-icon {
        display: flex;
    }
}

.form-group {
    margin-bottom: 15px;

    label {
        display: block;
        margin-bottom: 5px;
        color: white;
    }

    & input,
    & textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 0.8rem;
    }
}

.date-container,
.status-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .form-group {
        flex: 1;
    }
}

.dialog-footer {
    padding: 0px;
    text-align: right;
}

.cancel-btn,
.save-btn {
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.cancel-btn {
    background-color: darkgray;
    margin-right: 10px;
}

.save-btn {
    background-color: #1e90ff;
}

.cancel-btn:hover {
    background-color: #bbb;
}

.save-btn:hover {
    background-color: #0077cc;
}
