#app > nav {
    background-image: url("../image/blue-mountain.jpg");
    background-size: cover;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#leftHeader {
    padding: 20px;

    max-width: 60%;
}

#todoHeader {
    color: white;
    font-size: 1.6rem;

    & h1 {
        margin: 0 0 20px 0;
    }
}

#currentDate {
    color: lightgray;
    font-size: 0.85rem;
}

#rightHeader {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px;

    /* css glass effect */
    background: rgba(73, 56, 137, 0.26);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

    #todoTaskStatuses {
        display: flex;

        #completedTasks,
        #incompleteTasks {
            text-align: right;
        }

        #completedTasks .number,
        #incompleteTasks .number {
            font-size: 1.6rem;
            color: white;
            font-weight: 500;
        }

        #completedTasks {
            padding-right: 20px;
        }
    }

    #completionPercentage p {
        text-align: center;
    }
}
