#app > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 200px;
    background-image: url("../image/blue-mountain.jpg");
    background-size: cover;
}

#leftHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 60%;
    padding: 20px;
}

#todoHeader {
    color: white;
    font-size: 1.6rem;

    & h1 {
        margin: 0 0 20px 0;
    }
}

#currentDate {
    margin-top: 10px;
    margin-bottom: 10px;
    color: lightgray;
    font-size: 0.85rem;
}

#rightHeader {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px;

    /* css glass effect */
    background: rgba(73, 56, 137, 0.26);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

    #todoTaskStatuses {
        display: flex;

        #completedTasks,
        #incompleteTasks {
            text-align: right;
        }

        #completedTasks .number,
        #incompleteTasks .number {
            font-size: 1.6rem;
            color: white;
            font-weight: 500;
        }

        #completedTasks {
            padding-right: 20px;
        }
    }

    #completionPercentage p {
        text-align: center;
    }
}

.delete-todo {
    position: absolute;
    z-index: 10;
    right: 0;
    background: none;
    border: none;
    width: 60px;
    height: 60px;
    margin: 5px;
    span {
        font-size: 36px;
    }
}
